/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100vh;
    background-color: #2b807b;
    text-align: center;
}
.centrar-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenedor{
    height: 220px;
    width: 450px;
    background-color: white;
    border: 5px solid black;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Texto */
#color{
    font-size: 70px;
    font-weight: bold;
}
button{
    font-size: 30px;
    color: white;
    border-radius: 20px;
    background-color: #008cba;
    margin: 15px;
    padding: 10px 30px;
    border: 3px solid #008cba;
    user-select: none;
    transition-duration: .4s;
    cursor: pointer;
}
button:hover{
    background-color: #05555a;
}